@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

:root {
    --text-color: #fdfdff;
    --background_color: #232323;
    --important_color: #814fff;
    --accent_color: #35F29A;
    --accent_dark_color: #4C495D;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--background_color);
    font-size: 16px;
    
}

body {
    margin: 0;
    color: var(--text-color);
}

h1 {
    text-align: center;
    color: var(--important_color);
}

.skills-container,
.projects {
    padding: 50px;
}

.skills-container ul {
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.skills-container ul li {
    margin: 20px;
    width: 25%;
    position: relative;
    vertical-align: middle;
}

.skills-container ul li::marker {
    color: var(--important_color);
}

.progress-bar {
    background-color: var(--accent_dark_color);
    height: 10px;
    border-radius: 5px;
    transform: translateY(10px);
}

.progress-bar div {
    height: 10px;
    width: 0%;
    border-radius: 5px;
    background: var(--accent_color);
}

.c {
    animation: c 1s linear forwards;
}

.python {
    animation: python 1s linear forwards;
}

.csharp {
    animation: csharp 1s linear forwards;
}

.ht {
    animation: ht 1s linear forwards;
}

.css {
    animation: css 1s linear forwards;
}

.java {
    animation: java 1s linear forwards;
}

.assembly {
    animation: assembly 1s linear forwards;
}

.prolog {
    animation: prolog 1s linear forwards;
}

@keyframes c {
    100% {
        width: 90%;
    }
}

@keyframes python {
    100% {
        width: 90%;
    }
}

@keyframes csharp {
    100% {
        width: 75%;
    }
}

@keyframes ht {
    100% {
        width: 100%;
    }
}

@keyframes css {
    100% {
        width: 100%;
    }
}

@keyframes java {
    100% {
        width: 50%;
    }
}

@keyframes assembly {
    100% {
        width: 60%;
    }    
}

@keyframes prolog {
    100% {
        width: 30%;
    }
}

.projects h1 {
    margin-bottom: 4rem;
}

.portfolio-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
}

.portfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--background_color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    max-width: 100%;
    object-fit: cover;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layers {
    max-height: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1),var(--accent_color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    transform:  translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layers {
    transform:  translateY(0);
}

.portfolio-layers h3 {
    max-width: 80%;
}

.portfolio-layers p {
    max-width: 80%;
    margin: .3rem 0 1rem;
}

#background {
    font-weight: 700;
    background-color: var(--text-color);
    color: var(--background_color);
}

@media (max-width: 1000px) {
    .portfolio-container {
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 600px) {
    .portfolio-container {
        grid-template-columns: 1fr;
    }
}