@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

@font-face {
    font-family: 'Sketched';
    src: url('../Fonts/Sketched.ttf') format('truetype');
}

:root {
    --text-color: #FFFFFF;
    --dark_color: #212121;
    --background_color: #212121;
    --important_color: #FFE715;
    --highlight_color: #FFE715;
    --light_color: #FFFFFF;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--background_color);
    font-size: 16px;
}

body {
    color: var(--text-color);
    margin: 0;
    padding: 30px;
}

h1 {
    text-align: center;
    font-family: 'Sketched';
    font-size: 64px;
    margin: 50px;
}

h2 {
    text-align: center;
    font-family: 'Sketched';
    font-size: 32px;
    margin-bottom: 50px;
}

#spacing {
    margin-bottom: 50px;
}

.invert {
    filter: invert(100%);
    -webkit-filter: invert(100%);
    mix-blend-mode: screen;
}

#my-heading span {
    display: inline-block;
    animation-name: shake;
    animation-duration: 1s;
    animation-timing-function: steps(1);
    animation-iteration-count: infinite;
    padding-right: 10px;
    color: var(--highlight_color);
}

.img-container {
    display: grid;
    grid-template-columns: repeat(8,1fr);
    grid-template-rows: repeat(8,1fr);
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.grid-item1 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 5;
    grid-column-end: 9;
}

.grid-item2 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 5;
}

.grid-item3 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 3;
}

.grid-item4 {
    grid-row-start: 2;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 5;
}

.grid-item5 {
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 5;
    grid-column-end: 9;
}

.grid-item6 {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 1;
    grid-column-end: 5;
}

.grid-item7 {
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 5;
    grid-column-end: 9;
}

.grid-item8 {
    grid-row-start: 7;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 9;
   
}

.grid-item9 {
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 2;
    grid-column-end: 4;
}

.grid-item10 {
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 4;
    grid-column-end: 5;
}

.grid-item11 {
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 5;
    grid-column-end: 6;
}

.grid-item12 {
    grid-row-start: 9;
    grid-row-end: 11;
    grid-column-start: 6;
    grid-column-end: 8;
}

@media (max-width: 800px) {
    h1 {
        font-size: 48px;
    }

    h2 {
        font-size: 30px;
    }
}

@media (max-width: 600px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 22px;
    }
}