@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

:root {
    --text-color: #D1D7E0;
    --background_color: #2b2a31;
    --important_color: #b32fff;
    --accent_color: #564F6F;
    --accent_dark_color: #4C495D;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--background_color);
    font-size: 16px;
    
}

body {
    margin: 0;
    color: var(--text-color);
}

.skills-container,
.projects {
    padding: 50px;
}

h1 {
    text-align: center;
    color: var(--important_color);
}

