@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700;900&display=swap');

:root {
    --text-color: #212120;
    --background_color: #424240;
    --important_color: #FF2A3B;
    --highlight_color: #87E8DD;
}

html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    background-color: var(--background_color);
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
}

.skills-container {
    padding: 50px;
}

h1 {
    text-align: center;
    color: var(--text-color);
}

