<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="Unicode" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>skpha</title>
    <link rel="stylesheet" href="./CSS/404.css" />
    <link rel="icon" type="image/x-icon" href="Images/logo.ico">
  </head>

  <body>
    <% for(let i=0; i<15; i++) { %>
      <%- include('backgroundElementView.ejs', {index: i}) %>
    <% } %>
    <div id="container">
      <h1><span class="bordered-text">404</span></h1>
      <h4><span class="bordered-text">Not found</span></h4>
    </div>
  </body>

</html>