<head>
    <meta charset="Unicode" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>skpha</title>
    <link rel="stylesheet" href="./CSS/404.css" />
    <link rel="icon" type="image/x-icon" href="Images/logo.ico">
  </head>

<div class="animation-container">
    <div class="<%= index % 2 === 0 ? 'rowEven' : 'rowOdd' %>">
        <% for(let i=0; i<60; i++) { %>
            <img src="../Images/cherry pal_boxed.svg">
        <% } %>
    </div>
</div>