<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="Unicode" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>skpha</title>
    <link rel="stylesheet" href="./CSS/styleMainPage.css" />
    <link rel="icon" type="image/x-icon" href="Images/logo.ico">
</head>

<body>
    <h1>NOT LOGGED IN</h1>
</body>